**Dependcies libraries**


*   Numpy
*   pandas

*   sklearn --> model_selection --> train_test_split
*   sklearn --> linear_model --> LogisticRegression

*   sklearn --> metrics --> accuracy_score

In [ ]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

Dataset can directly call from the kaggle by creating token.
[Data](https://www.kaggle.com/mlg-ulb/creditcardfraud)

In [ ]:
# installing kaggle in colab
! pip install -q kaggle

In [109]:
# uplaoding genrated token from the kaggle
from google.colab import files

files.upload()

In [ ]:
# making directory
! mkdir ~/.kaggle

! cp kaggle.json ~/.kaggle/

In [ ]:
! chmod 600 ~/.kaggle/kaggle.json

In [ ]:
 # list of project files
 ! kaggle datasets list

In [ ]:
# downloading dataset from the kaggle
! kaggle datasets download -d mlg-ulb/creditcardfraud

In [ ]:
# unzipping the file
! unzip /content/creditcardfraud.zip

In [ ]:
# loading data in pandas DataFrame
credit_card_data = pd.read_csv('/content/creditcard.csv')

In [ ]:
# first 5 rows of the dataset
credit_card_data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [ ]:
# last 5 rows of the dataset
credit_card_data.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
284802,172786.0,-11.881118,10.071785,-9.834783,-2.066656,-5.364473,-2.606837,-4.918215,7.305334,1.914428,...,0.213454,0.111864,1.014480,-0.509348,1.436807,0.250034,0.943651,0.823731,0.77,0
284803,172787.0,-0.732789,-0.055080,2.035030,-0.738589,0.868229,1.058415,0.024330,0.294869,0.584800,...,0.214205,0.924384,0.012463,-1.016226,-0.606624,-0.395255,0.068472,-0.053527,24.79,0
284804,172788.0,1.919565,-0.301254,-3.249640,-0.557828,2.630515,3.031260,-0.296827,0.708417,0.432454,...,0.232045,0.578229,-0.037501,0.640134,0.265745,-0.087371,0.004455,-0.026561,67.88,0
284805,172788.0,-0.240440,0.530483,0.702510,0.689799,-0.377961,0.623708,-0.686180,0.679145,0.392087,...,0.265245,0.800049,-0.163298,0.123205,-0.569159,0.546668,0.108821,0.104533,10.00,0
284806,172792.0,-0.533413,-0.189733,0.703337,-0.506271,-0.012546,-0.649617,1.577006,-0.414650,0.486180,...,0.261057,0.643078,0.376777,0.008797,-0.473649,-0.818267,-0.002415,0.013649,217.00,0

In [ ]:
# dataset information
credit_card_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [ ]:
credit_card_data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [ ]:
credit_card_data['Class'].value_counts()

0    284315
1       492
Name: Class, dtype: int64

The above dataset is highly unblance\

0 --> Nornmal Transication

1 --> Fraud Transication

In [ ]:
# sperating the dataset for the data analysis
legit = credit_card_data[credit_card_data.Class == 0]
fraud = credit_card_data[credit_card_data.Class == 1]

In [ ]:
print(legit.shape)
print(fraud.shape)

(284315, 31)
(492, 31)

In [ ]:
# let's do some stastical mesure
legit['Amount'].describe()

count    284315.000000
mean         88.291022
std         250.105092
min           0.000000
25%           5.650000
50%          22.000000
75%          77.050000
max       25691.160000
Name: Amount, dtype: float64

In [ ]:
fraud['Amount'].describe()

count     492.000000
mean      122.211321
std       256.683288
min         0.000000
25%         1.000000
50%         9.250000
75%       105.890000
max      2125.870000
Name: Amount, dtype: float64

In [70]:
# camparing the values for the both classes
credit_card_data.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94838.202258,0.008258,-0.006271,0.012171,-0.007860,0.005453,0.002419,0.009637,-0.000987,0.004467,...,-0.000644,-0.001235,-0.000024,0.000070,0.000182,-0.000072,-0.000089,-0.000295,-0.000131,88.291022
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

Under sampling

Building a sample dataset containing similar distribution of ligit and fraudulent dataset

In [75]:
# here fraudulent transication is 492, thus the ligit transication 492 data
legit_sample = legit.sample(n = 492)
# it it will genrate random  492 data from the sample set

In [76]:
print(legit_sample.shape)

(492, 31)

Now concaneting two both dataset (legit_sample and fraud)

In [78]:
# concating dataset, here axis  =  0 mean adding data row wise
new_data = pd.concat([legit_sample,fraud], axis = 0)

In [79]:
new_data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
281330,170102.0,-1.567187,0.998331,0.912472,-1.045604,-0.206399,0.380707,1.418297,-1.050013,0.004066,...,0.636034,-0.480198,-0.290380,0.678056,0.686410,0.212025,-0.237411,0.021214,193.65,0
280967,169858.0,-0.723655,1.768732,1.898849,4.288311,-0.084604,0.886223,0.128995,0.104073,-0.591991,...,0.075153,0.912421,-0.110391,-0.022144,-0.548623,0.445953,0.655129,0.222877,5.00,0
169367,119662.0,1.946727,-0.219155,-1.689478,0.509995,0.149024,-1.279646,0.594394,-0.463055,0.359402,...,0.012425,0.105101,0.018247,0.029084,0.144290,0.557659,-0.106208,-0.065198,74.95,0
268031,163031.0,2.102891,-0.150471,-1.405790,0.240465,0.176200,-0.714370,0.095044,-0.209631,0.728527,...,-0.342700,-0.890423,0.262121,-0.799935,-0.243077,0.251081,-0.074793,-0.069838,3.59,0
138207,82540.0,-0.600161,0.595640,1.930531,-1.419350,0.024243,-0.375154,0.607485,0.040601,-0.047772,...,-0.051053,0.050847,-0.069873,0.240435,-0.523488,0.692469,0.104575,-0.061971,1.38,0

In [81]:
# new data shape
new_data.shape

(984, 31)

In [83]:
# now finding value count
new_data['Class'].value_counts()

0    492
1    492
Name: Class, dtype: int64

In [85]:
# groupy data based on the class
new_data.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,95866.077236,0.020829,-0.098218,-0.035816,-0.103425,0.003251,0.021927,-0.012888,0.024252,-0.074905,...,0.002083,0.037764,0.033740,-0.030148,0.023536,-0.020935,0.020865,0.003706,-0.014829,95.715285
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

In [87]:
# now let's create X(features) and Y(traget value)
X = new_data.drop('Class', axis = 1)
Y = new_data['Class']

In [88]:
print(X.shape, Y.shape)

(984, 30) (984,)

In [89]:
print(X)

            Time        V1        V2        V3        V4        V5        V6  \
281330  170102.0 -1.567187  0.998331  0.912472 -1.045604 -0.206399  0.380707
280967  169858.0 -0.723655  1.768732  1.898849  4.288311 -0.084604  0.886223
169367  119662.0  1.946727 -0.219155 -1.689478  0.509995  0.149024 -1.279646
268031  163031.0  2.102891 -0.150471 -1.405790  0.240465  0.176200 -0.714370
138207   82540.0 -0.600161  0.595640  1.930531 -1.419350  0.024243 -0.375154
...          ...       ...       ...       ...       ...       ...       ...
279863  169142.0 -1.927883  1.125653 -4.518331  1.749293 -1.566487 -2.010494
280143  169347.0  1.378559  1.289381 -5.004247  1.411850  0.442581 -1.326536
280149  169351.0 -0.676143  1.126366 -2.213700  0.468308 -1.120541 -0.003346
281144  169966.0 -3.113832  0.585864 -5.399730  1.817092 -0.840618 -2.943548
281674  170348.0  1.991976  0.158476 -2.583441  0.408670  1.151147 -0.096695

              V7        V8        V9  ...       V20       V21       V22  \
281330  1.418297 -1.050013  0.004066  ... -0.616625  0.636034 -0.480198
280967  0.128995  0.104073 -0.591991  ...  0.707744  0.075153  0.912421
169367  0.594394 -0.463055  0.359402  ... -0.096232  0.012425  0.105101
268031  0.095044 -0.209631  0.728527  ... -0.260163 -0.342700 -0.890423
138207  0.607485  0.040601 -0.047772  ...  0.026401 -0.051053  0.050847
...          ...       ...       ...  ...       ...       ...       ...
279863 -0.882850  0.697211 -2.064945  ...  1.252967  0.778584 -0.319189
280143 -1.413170  0.248525 -1.127396  ...  0.226138  0.370612  0.028234
280149 -2.234739  1.210158 -0.652250  ...  0.247968  0.751826  0.834108
281144 -2.208002  1.058733 -1.632333  ...  0.306271  0.583276 -0.269209
281674  0.223050 -0.068384  0.577829  ... -0.017652 -0.164350 -0.295135

             V23       V24       V25       V26       V27       V28  Amount
281330 -0.290380  0.678056  0.686410  0.212025 -0.237411  0.021214  193.65
280967 -0.110391 -0.022144 -0.548623  0.445953  0.655129  0.222877    5.00
169367  0.018247  0.029084  0.144290  0.557659 -0.106208 -0.065198   74.95
268031  0.262121 -0.799935 -0.243077  0.251081 -0.074793 -0.069838    3.59
138207 -0.069873  0.240435 -0.523488  0.692469  0.104575 -0.061971    1.38
...          ...       ...       ...       ...       ...       ...     ...
279863  0.639419 -0.294885  0.537503  0.788395  0.292680  0.147968  390.00
280143 -0.145640 -0.081049  0.521875  0.739467  0.389152  0.186637    0.76
280149  0.190944  0.032070 -0.739695  0.471111  0.385107  0.194361   77.89
281144 -0.456108 -0.183659 -0.328168  0.606116  0.884876 -0.253700  245.00
281674 -0.072173 -0.450261  0.313267 -0.289617  0.002988 -0.015309   42.53

[984 rows x 30 columns]

In [90]:
print(Y)

281330    0
280967    0
169367    0
268031    0
138207    0
         ..
279863    1
280143    1
280149    1
281144    1
281674    1
Name: Class, Length: 984, dtype: int64

Now split data train test split

In [91]:
X_train, X_test, Y_train, Y_test = train_test_split(X,Y,test_size= 0.2,stratify = Y, random_state = 1)

In [93]:
print(X.shape,X_train.shape,X_test.shape)

(984, 30) (787, 30) (197, 30)

In [94]:
print(Y.shape,Y_train.shape,Y_test.shape)

(984,) (787,) (197,)

Now let;s train our model by logistic regression

In [95]:
# traing model
model = LogisticRegression()

In [96]:
model.fit(X_train,Y_train)

LogisticRegression()

Checking our model accuracy

In [97]:
X_test_prediction = model.predict(X_test)
print(X_test_prediction)

[1 0 0 1 0 1 0 1 0 0 0 0 0 1 0 1 0 0 1 1 0 1 1 0 0 0 1 1 0 0 1 0 0 1 0 0 1
 0 1 1 1 1 0 1 0 0 1 1 1 0 1 0 0 1 1 0 1 0 0 0 1 0 0 1 0 1 1 1 0 1 1 1 0 1
 0 0 1 1 0 0 1 1 0 1 0 0 0 1 0 0 1 0 1 0 1 0 0 0 0 0 0 0 1 0 0 1 1 0 0 1 1
 0 1 1 0 0 0 0 0 0 0 1 1 1 0 0 1 1 0 0 0 0 0 1 1 0 0 1 0 0 0 1 0 1 0 0 1 1
 1 0 0 0 0 0 0 0 0 0 0 1 0 1 1 0 1 1 0 1 1 0 0 1 1 1 1 1 0 1 1 0 0 0 0 1 0
 0 0 0 1 0 1 1 0 1 1 1 1]

In [98]:
# now checking accuracy of the model
X_train_prediction =model.predict(X_train)
X_train_accuracy = accuracy_score(X_train_prediction,Y_train)

In [103]:
print('Training accuracy of the model: ',X_train_accuracy)

Training accuracy of the model:  0.9326556543837357

In [101]:
# now checking accuracy of the model
X_test_prediction =model.predict(X_test)
X_test_accuracy = accuracy_score(X_test_prediction,Y_test)

In [104]:
print('Testing accuracy of the model: ',X_test_accuracy)

Testing accuracy of the model:  0.8883248730964467

Saving model's weights

In [107]:
import joblib
joblib.dump(model,'credit_card_weight.dat')

['credit_card_weight.dat']

In [108]:
# making prediction with saved model
saved_model = joblib.load('/content/credit_card_weight.dat')
saved_model.predict(X_test)

array([1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 1,
       1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 1, 1, 1, 0, 1,
       0, 0, 1, 1, 1, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1,
       1, 1, 0, 1, 1, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1,
       0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1,
       1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0,
       0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 1, 1,
       0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 1, 1, 1])